/* Resets */
ul {
	padding:0;
	margin:0 0 20px 0;
	list-style:none;
}

h1, h2 {
	padding:0;
	margin:0 0 20px 0;
	font-weight:normal;
}

p {
	padding:0;
	margin:0 0 20px 0;
}

a:link, a:visited {
	text-decoration:underline;
	color:#000;
}

a:hover {
	text-decoration:none;
}

ul li {
	padding:5px 0;
}

ul li input[type="text"], ul li input[type="password"] {
	width:200px;
}

textarea {
	width:400px;
	height:150px;
}

/* Headers */
h1 {
	font-size:1.8em;
}

h2 {
	font-size:1.4em;
}

.logo {
	font:2em Arial;
	margin:0 0 10px 0;
	padding:0;
	width:200px;
	color:#fff;
}

/* Containers */
body {
	background:lightslategray;
	font-family:Arial;
	font-size:0.8em;
}

#container, footer {
	background:#fff;
	width:1000px;
	margin:0 auto;
	padding:20px;
}

header {
	width:940px;
	padding:10px;
	margin:0 auto 10px auto;
}

#container {
	min-height:500px;
	border-radius:5px 5px 0 0;
}

footer {
	border-radius:0 0 5px 5px;
}

.widget {
	margin-bottom:20px;
}

.widget h2 {
	margin:0 0 10px 0;
	padding:0 5px;
	font-weight:normal;
	border-bottom:1px solid #ddd;
}

.widget .inner {
	margin:0 10px;
}

/* Navigation */
nav {
	float:left;
}

nav ul {
	margin:0;
}

nav ul li {
	display:inline;
	margin-right:10px;
}

nav ul li a {
	text-decoration:none;
}

nav ul li.current {
	font-weight:bold;
}

nav ul li a.last {
	border-right:0;
}

/* Aside */
aside {
	width:200px;
	float:right;
	border-left:1px dashed #aaa;
	padding-left:15px;
}

.profile {
	background:#f9f9f9;
	border:1px dashed #ccc;
	padding:5px;
}

.profile img {
	width:100%;
}

/* Login */
#login li.link {
	margin-top:5px;
}

/* Table */
table {
	width:100%;

}

th, td {
	text-align:left;
	padding:5px;
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)		{ background-color:#EDEDED; }



/* Footer */
footer {
	border-top:1px dashed #ddd;
	color:#999;
}

/* Misc */
.clear {
	clear:both;
}

/* Ribbon Design */

.wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
